.DS_Store
mediumTale.txt
permutation10.txt
permutation4.txt
permutation5.txt
permutation6.txt
permutation8.txt
tale.txt
tinyTale.txt
Week3/.DS_Store
Week3/.idea/
Week3/input6.txt
Week3/input8.txt
Week3/Point$1.class
Week3/Point$SlopeOrder.class
